# Environment
.env
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Notebook artifacts
.ipynb_checkpoints/

# Data
*.csv
*.csv.gz

# OS files
.DS_Store

# Google Cloud credentials
*.json

# Cache
cache/