# Core API
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
python-dotenv>=1.0.1
pydantic>=2.7.0

# Data Processing
google-cloud-bigquery>=3.25.0
pandas>=2.2.0
numpy>=1.26.0
pyarrow>=16.0.0
db-dtypes>=1.2.0
pandas-gbq>=0.26.1
google-auth>=2.29.0

# Data Visualization
plotly>=5.22.0
matplotlib>=3.8.0
folium>=0.17.0
streamlit>=1.36.0

# LLM
groq>=0.4.2

# Machine Learning
scikit-learn>=1.4.0
joblib>=1.4.2

